/*********************************CSS**********************************/

/* Google Font */
.text{
	font-family: 'Barrio', cursive;
}

/********************************NavBar*******************************/

/* Gets rid of navbar bottom margin so image is flush with navbar */
.navbar{
	margin-bottom: 0px !important;
}	

.nav-title{
	font-size: 2.4em !important;
	color: #3b0a51 !important;
}

.nav-links{
	color: #3b0a51 !important;
}

.nav{
	margin-left: 5% !important;
}

.text-button{
	font-family: 'Barrio', cursive;
	margin-left: 5%;
}

/******************Background Image Section***************************/

/* background image */
.headerBg {
    position: absolute;
    width: 100%;
    height: 55%;
    z-index: -1;
    border: 5px solid black;
}

/* Test Box which position is relative to background image and centered */
#loginBox {
    position:relative;
    float: center;
    margin: auto;
    width: 25%;
    height: 25px;
}

/* Various text */
.main-title{
	font-family: 'Barrio', cursive;
	padding-top: 20%;
	margin-top: 0;
	color: white;
	font-size: 9em;
}

.main-desc{
	font-family: 'Barrio', cursive;
	color: white;
}